@charset "UTF-8";

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.modal-content li {
   padding-bottom: 5px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.close:active {
  background:#EAEAEA;
}

/* loading css */
.container {
	text-align: center;
	background-color: rgb(234,234,234);
	overflow: hidden;
}


.box {
	display: inline-block;
	height: 200px;
	width: 100%;
	float:left;
	position: relative;
	/*margin:0 -4px -5px -2px;*/
	transition: all .2s ease;
}

/* -------------- loader10 -------------- */

.loader10:before {
	content: "";
	position: absolute;
	top: 0px;
	left: -25px;
	height: 12px;
	width: 12px;
	border-radius: 12px;
	-webkit-animation: loader10g 3s ease-in-out infinite;
			animation: loader10g 3s ease-in-out infinite;
}

.loader10 {
	position: relative;
	width: 12px;
	height: 12px;
	top: 46%;
	left: 50%;
	border-radius: 12px;
	-webkit-animation: loader10m 3s ease-in-out infinite;
			animation: loader10m 3s ease-in-out infinite;
}


.loader10:after {
	content: "";
	position: absolute;
	top: 0px;
	left: 25px;
	height: 10px;
	width: 10px;
	border-radius: 10px;
	-webkit-animation: loader10d 3s ease-in-out infinite;
			animation: loader10d 3s ease-in-out infinite;
}

@-webkit-keyframes loader10g {
	0%{background-color: rgba(180, 150, 255, .2);}
	25%{background-color: rgba(180, 255, 255, 1);}
	50%{background-color: rgba(255, 255, 255, .2);}
	75%{background-color: rgba(255, 255, 255, .2);}
	100%{background-color: rgba(255, 255, 255, .2);}
}
@keyframes loader10g {
	0%{background-color: rgba(255, 255, 255, .2);}
	25%{background-color: rgba(255, 255, 255, 1);}
	50%{background-color: rgba(255, 255, 255, .2);}
	75%{background-color: rgba(255, 255, 255, .2);}
	100%{background-color: rgba(255, 255, 255, .2);}
}

@-webkit-keyframes loader10m {
	0%{background-color: rgba(255, 255, 255, .2);}
	25%{background-color: rgba(255, 255, 255, .2);}
	50%{background-color: rgba(255, 255, 255, 1);}
	75%{background-color: rgba(255, 255, 255, .2);}
	100%{background-color: rgba(255, 255, 255, .2);}
}
@keyframes loader10m {
	0%{background-color: rgba(255, 255, 255, .2);}
	25%{background-color: rgba(255, 255, 255, .2);}
	50%{background-color: rgba(255, 255, 255, 1);}
	75%{background-color: rgba(255, 255, 255, .2);}
	100%{background-color: rgba(255, 255, 255, .2);}
}

@-webkit-keyframes loader10d {
	0%{background-color: rgba(255, 255, 255, .2);}
	25%{background-color: rgba(255, 255, 255, .2);}
	50%{background-color: rgba(255, 255, 255, .2);}
	75%{background-color: rgba(255, 255, 255, 1);}
	100%{background-color: rgba(255, 255, 255, .2);}
}
@keyframes loader10d {
	0%{background-color: rgba(255, 255, 255, .2);}
	25%{background-color: rgba(255, 255, 255, .2);}
	50%{background-color: rgba(255, 255, 255, .2);}
	75%{background-color: rgba(255, 255, 255, 1);}
	100%{background-color: rgba(255, 255, 255, .2);}
}

/* -------------- Search -------------- */

.searchTxt {
	/*height: 1.5em;
	margin-top: 1em;*/ 
	display:none;
}

/* Search Result */
.search_container {
	overflow: hidden;
	display: none;
}
.select_search {
	display: none;
}

/* -------------- Menu (Edit & Delete) Modal -------------- */

.menu_text {
	text-align:center; 
	color:#000; 
	font-size:2em;
	font-family: 'Nanum Gothic', serif;
}

.menu_text:hover,
.menu_text:active {
	background-color: #EAEAEA;
}

/* -------------- Edit Modal -------------- */

#edit_ul li {
	position:relative; 
	padding: 20px 0 20px 0; 
	margin-bottom: 15px;
	border-bottom:1px solid #000;
	border-radius: 50px;
	border-style:none;
	background-color: #D0D0D0;
	box-shadow: 3px 1.928px 18px 0px rgb( 21, 11, 8 );
}

#edit_ul span {
	position: relative;
	display: inline-block;
	margin-left: 35px;
	margin-bottom: 5px;
	padding: 5px;
	font-size: 20px;
	font-family: 'Nanum Gothic', serif;
	color: rgb( 0, 0, 0 );
	line-height: 0.5;
}

#edit_ul input {
	margin-left: 30px;
	padding:5px;
	font-size: 20px;
	font-family: 'Nanum Gothic', serif;
	-moz-transform: scale(0.99, 1);
	-webkit-transform: scale(0.99, 1);
	-ms-transform: scale(0.99, 1);	
}

#edit_ul .edit_button {
	display:inline-block;
	width: 49.3%;
	margin-right: 5px;
	border-radius:50px;
	background-color: rgb( 255, 111, 65 );
	opacity: 0.759;
	box-shadow: 4px 6.928px 18px 1px rgb( 21, 11, 8 );
	vertical-align:middle;
	cursor:pointer;
	letter-spacing:1px;
}

#edit_ul .edit_button_text {
	padding: 5px;
	color: #FFF; 
	text-align:center;
	font-size:17px;	
	font-family: 'Nanum Gothic', serif;
	-moz-transform: matrix( 1.41126510928624,0,0,1.42552031241033,0,0);
	-webkit-transform: matrix( 1.41126510928624,0,0,1.42552031241033,0,0);
	-ms-transform: matrix( 1.41126510928624,0,0,1.42552031241033,0,0);
}

/* -------------- Folder List Modal -------------- */

#folder_ul li {
	position:relative; 
	padding: 20px 0 20px 0; 
	margin-bottom: 15px;
	border-bottom:1px solid #000;
	border-radius: 50px;
	border-style:none;
	background-color: rgb( 255, 111, 65 );
	opacity: 0.759;
	/*box-shadow: 3px 1.928px 18px 0px rgb( 21, 11, 8 ); */
	box-shadow: 4px 6.928px 18px 1px rgb( 21, 11, 8 );
	cursor:pointer;
	text-align: center;
	font-size: 1.7em;
	font-family: 'Nanum Gothic', serif;
	line-height: 0.5;
}

#folder_ul li:hover,
#folder_ul li:active {
	background-color: #EAEAEA;
}

#folder_modal .modal-content .folder_button {
	display:inline-block;
	width: 100%;
	padding: 10px 0 10px 0;
	margin-bottom: 15px;
	border-radius:50px;
	background-color: #AAAAAA;
	opacity: 0.759;
	box-shadow: 4px 6.928px 18px 1px rgb( 21, 11, 8 );
	vertical-align:middle;
	cursor:pointer;
	letter-spacing:1px;
}

#folder_modal .modal-content .folder_button:hover,
#folder_modal .modal-content .folder_button:active {
	background-color: #EAEAEA;
}

#folder_modal .modal-content .folder_button_text {
	padding: 5px;
	color: #000; 
	text-align:center;
	font-size:17px;	
	font-family: 'Nanum Gothic', serif;
	-moz-transform: matrix( 1.41126510928624,0,0,1.42552031241033,0,0);
	-webkit-transform: matrix( 1.41126510928624,0,0,1.42552031241033,0,0);
	-ms-transform: matrix( 1.41126510928624,0,0,1.42552031241033,0,0);
}